@import url(variables.css);

* {
    box-sizing: border-box;
}
a, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color_bg);
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    position: fixed;
    align-items: center;
    width: inherit;
    height: 90px;
    padding: 0 40px;
    width: 1200px;
    background-color: var(--color_bg);
    mask-image: linear-gradient(to bottom, var(--color_bg) 60%, transparent 100%);
    z-index: 1;
}

.header-logo {
    position: absolute;
    left: 40px;
    width: 40px;
    height: 40px;
}
.header-logo > img {
    width: 100%;
    height: auto;
}
.header-navs {
    display: flex;
    justify-content: right;
    gap: 10px;
    position: absolute;
    right: 40px;
}

.header-navs a {
    color: var(--color_white);
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
.header-navs a:nth-child(4) {
    color: var(--color_selected_green);
}
.header-navs a:hover {
    position: relative;
    top: -2px;
}
.header-hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
}
.header-hamburger > .hamburger-elem {
    width: 100%;
    height: 3px;
    background-color: var(--color_white);
    transition: 0.3s;
}
.header-hamburger > .hamburger-elem:nth-child(1) {
    width: 50%;
}
.header-hamburger > .hamburger-elem:nth-child(3) {
    width: 70%;
}


#main {
    width: 1200px;
    padding: 0 40px;
    margin-top: 90px;
}
#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: relative;
    margin: 0 0 16px;
}
#main-header > p {
    font-size: 1.5rem;
    color: var(--color_white);
}
#main-header > a {
    font-size: 1rem;
    color: var(--color_white);
    position: absolute;
    right: 0;
}

#main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;
    gap: 15px;
}
.interview-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--color-portfolio-bg);
    height: 138px;
    padding: 16px;
    border-radius: 10px;
}
.interview-top {
    display: flex;
    gap: 15px;
}
.interview-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.interview-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.interview-info-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: var(--color_white);
}
.interview-info-container > div:nth-child(1) {
    font-size: 1.1rem;
    font-weight: bold;
}
.interview-info-container > div:nth-child(2) {
    font-size: 0.85rem;
    padding: 6px 8px;
    border-radius: 5px;
}
.interview-info-container .major {
    background-color: var(--color_member1);
}
.interview-info-container .bocsu {
    background-color: var(--color_member3);
}
.interview-info-container .nomajor {
    background-color: var(--color_member4);
}
.interview-hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 16px;
}
.interview-hamburger > .hamburger-elem {
    width: 100%;
    height: 2px;
    background-color: var(--color_hamburger);
    transition: 0.3s;
}
.interview-hamburger > .hamburger-elem:nth-child(3) {
    margin-left: auto;
}

.interview-bottom {
    display: block;
    color: var(--color_white);
    margin-top: 10px;
    line-height: 20px;
    position: relative;
    top: 5px;
}
.interview-container:hover {
    position: relative;
    top: -2px;
}
.interview-container:hover .interview-image > img {
    transform: scale(1.1);
}
.interview-container:hover .interview-hamburger > .hamburger-elem:nth-child(1) {
    width: 10px;
}
.interview-container:hover .interview-hamburger > .hamburger-elem:nth-child(2) {
    transform: scaleY(1.1)
}
.interview-container:hover .interview-hamburger > .hamburger-elem:nth-child(3) {
    width: 10px;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #333333;
}
#footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(1200px, 100%);
    height: 190px;
    padding: 40px;
}
#footer-main-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#footer-main-info > a {
    font-size: 0.9rem;
    color: white;
}
.footer-icon-container {
    display: flex;
}
.footer-icon {
    background-color: var(--color_bg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.footer-icon > img {
    width: 21px;
    height: auto;
}
.footer-email-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-main-navs {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.footer-nav {
    height: 14px;
    line-height: 14px;
    padding: 0 20px;
    border-right: 1px solid var(--color_hamburger);
}
.footer-nav:nth-of-type(6) {
    border-right: none;
}
.footer-nav > a {
    font-size: 0.9rem;
    height: 14px;
    line-height: 14px;
    text-align: center;
    color: white;
}

#footer-copyright {
    font-size: 0.8rem;
    font-weight: bold;
    width: 100%;
    height: 44px;
    padding: 16px;
    line-height: 13.75px;
    text-align: center;
    color: var(--color-gray);
    opacity: 0.8;
    background-color: #292929;
}

#footer a:hover {
    position: relative;
    top: -2px;
}



@media (max-width: 1200px) {
    #header, #main {
        width: 100%;
    }
}

@media (max-width: 1080px) {
    #footer-main {
        height: 244px;
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 850px) {
    #main-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    #header {
        height: 70px;
    }
    .header-logo {
        width: 30px;
        height: 30px;
    }
    .header-navs {
        display: none;
    }
    .header-hamburger {
        display: flex;
    }
}

@media (max-width: 768px) {
    #header, #main {
        width: 100%;
        padding-right: 16px;
        padding-left: 16px;
    }
    .header-logo {
        left: 16px;
    }
    .header-hamburger {
        right: 16px;
    }
}

@media (max-width: 750px) {
    #footer-main {
        height: 190px;
        flex-direction: column;
    }
    #footer-main-navs {
        display: none;
    }
}

@media (max-width: 600px) {
    #main-content {
        grid-template-columns: 1fr;
    }
}