:root {
    --color_bg: #000;
    --color_selected_green: #0bec12;
    --color_white: #fff;
    --color_member1: #5486b2;
    --color_member2: #898989;
    --color_hamburger: rgba(236, 236, 236, 0.466);
    --color-portfolio-bg: rgb(51 51 51);
    --color-gray: #c6c6c6;
}