{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피로스타그램 - 김은성</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/user_login.css' %}">
    {% endblock stylesheet %}
</head>
<body>
    <header>
        {% block header %}
        <h2>회원가입</h2>
        {% endblock header %}
    </header>
    <main>
        {% block main %}
        <form method="post" action="{% url "user:register" %}">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit">회원가입</button>
        </form>
        {% endblock main %}
    </main>
    {% block script %}
    
    {% endblock script %}
</body>
</html>