html {
    width: 100%;
    height: 100%;
    
}
button {
    background: none;
    border: none;
}
button:hover {
    cursor: pointer;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#topside {
    flex: 1;
    background-color: #2d3136;
}

#nav {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
}

#nav-left {
    display: flex;
    align-items: center;
}
#nav-left-logo {
    display: inline-block;
    line-height: 32px;
    text-align: center;
}
#nav-left-logo > svg {
    vertical-align: middle;
    fill: white;
}
#nav-left-navs {
    display: inline-block;
}
#nav-left-navs button {
    display: inline-flex;
    align-items: center;
    margin-left: 3px;
    color: white;
}
#nav-left-navs button > svg {
    fill: white;
}


#nav-right {
    display: flex;
    align-items: center;
}
#nav-right-search {
    position: relative;
    display: inline-flex;
    align-items: center;
}
#nav-right-search-input {
    width: 220px;
    height: 30px;
    background-color: #ffffff2e;
    border: none;
    border-radius: 3px;
}
#nav-right-search > svg {
    position: absolute;
    right: 2px;
}
#nav-right-search-input::placeholder {
    position: absolute;
    left: 5px;
    color: #bebebe;
    font-weight: 500;
}
#nav-right-search-input:hover, #nav-right-search > svg:hover {
    cursor: pointer;
}
#nav-right-btn-sign-in, #nav-right-btn-sign-up {
    margin-left: 3px;
    width: 70px;
    height: 30px;
    color: white;
}
#nav-right-btn-sign-up {
    border: 1px solid white;
    border-radius: 5px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

#main-left {
    position: relative;
    right: 40px;
}
#main-left h1 {
    margin: 0;
    font-size: 4rem;
    line-height: 4rem;
}
#main-left p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
#main-left p > span {
    font-weight: bold;
    text-decoration: underline;
}

#main-right {
    width: 360px;
    position: relative;
    left: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
}
#main-right > form {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-right > form .label-and-input {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-top: 12px;
}
#main-right > form label {
    font-size: 0.8rem;
    font-weight: bold;
}
#main-right > form input {
    height: 35px;
    margin-top: 4px;
    border: 1px solid gray;
    border-radius: 3px;
}
#main-right > form input::placeholder {
    color: transparent;
}
#main-right > form input:not(:placeholder-shown) {
    background-color: skyblue;
}
#main-right p {
    margin-top: 15px;
    font-size: 0.68rem;
}
#main-right a {
    font-size: 0.68rem;
    color: blue;
    text-decoration: none;
}
#main-right a:hover {
    text-decoration: underline;
}
#main-right > form button {
    width: inherit;
    height: 55px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-weight: bold;
}
#main-right-privacy-notice {
    color: gray;
    margin-top: 30px;   
}

#footer {
    position: relative;
    width: 100%;
    height: 120px;
    bottom: 0;
}

#footer-image-container {
    width: 440px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    right: 80px;
    bottom: 0;
}

#footer-image {
    width: inherit;
    position: absolute;
    left: 0;
    bottom: -25px;
}
