{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피로스타그램 - 김은성</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block stylesheet %}

    {% endblock stylesheet %}
</head>
<body>
    <header>
        {% block header %}
        {% endblock header %}
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <footer>
        <a href="{% url "post:main" %}">홈</a>
        <a href="#">검색</a>
        <a href="{% url "post:create" %}">새 게시글</a>
        <a href="#">릴스</a>
        <a href="#">사용자</a>
    </footer>
    {% block script %}
    
    {% endblock script %}
</body>
</html>