h2 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 95dvw;
    gap: 15px;
    margin-top: 20px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header-right {
    display: flex;
    gap: 5px;
}
.main-header-right button {
    font-size: 16px;
    font-family: "Malgun Gothic";
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.main-movie_info {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--color-gray);
    padding: 10px;
}
.main-movie_info-image {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    width: 120px;
    height: 160px;
}
.main-movie_info-info {
    display: flex;
    height: 160px;
    flex-direction: column;
    justify-content: space-around;
}
.summary-about {
    color: gray;
}
.main-movie_review {
    background-color: var(--color-gray);
    padding: 10px;
}