main {
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 30px;
    margin-inline: 50px;
}
.summary-item {
    background-color: var(--color-gray);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    padding: 10px;
}
.summary-movie_title {
    font-size: 18px;
    font-weight: bold;
}
.summary-about {
    color: gray;
}


.highlight {
    color: var(--color-highlight);
}
.order_selector {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-inline: 30px;
    width: 100dvw;
    margin-top: 20px;
}
.order_selector > a {
    color: gray;
}
a.selected {
    color: black;
    font-weight: bold;
}